.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
.Rdata
.httr-oauth
.quarto
README.Rmd
data_raw/
variant_calling/alignment/
variant_calling/variants/
variant_calling/merged_alignment/
